fastapi
uvicorn
gunicorn
python-multipart

pydantic
pydantic-settings

python-dotenv

sqlalchemy
psycopg2-binary
alembic

groq>=0.9,<1.0.0

langsmith>=0.3.0

langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-huggingface
langchain-text-splitters

sentence-transformers

pinecone
faiss-cpu

scikit-learn
numpy
tqdm

python-docx==1.2.0
fpdf2
pypdf==5.9.0
pymupdf
docx2txt

datasets
ragas

tavily-python==0.5.0

slowapi

prometheus-client==0.22.1